.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  fill: $black;
}

// нужные иконки оборачиваем в span.circle-icon
//.circle-icon {
//  width: 2rem;
//  height: 2rem;
//  background: $accent;
//  border-radius: 50%;
//  display: inline-flex;
//  justify-content: center;
//  align-items: center;
//}

.icon-chk {
  font-size:1rem;
  width:1rem;
}
.icon-cross {
  font-size:1rem;
  width:1rem;
}
.icon-play_triangle {
  font-size:1rem;
  width:1rem;
}
.icon-star-4 {
  font-size:1rem;
  width:1rem;
}
.icon-star-4-black-tilt-left {
  font-size:1rem;
  width:1rem;
}
.icon-star-4-black-tilt-right {
  font-size:1rem;
  width:1rem;
}
.icon-star-4-tilt-right {
  font-size:1rem;
  width:1rem;
}
.icon-tg {
  font-size:1rem;
  width:1rem;
}
